<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="jYinnaFactory">
 
 	<!-- ######################################################################################################################### --> 
  	<!-- IDBC database connection settings -->
  	<!-- ######################################################################################################################### -->
  	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  	<property name="hibernate.connection.url">jdbc:postgresql://localhost:5436/kedsensor</property>
  	<property name="hibernate.connection.username">ked</property>
  	<property name="hibernate.connection.password">ked2017</property>
  	
  	<!-- ######################################################################################################################### -->
  	<!-- JDBC connection Pool size ...  -->
  	<!-- ######################################################################################################################### -->
  	<property name="hibernate.connection.pool_size">100</property>
  
  	<!-- ######################################################################################################################### -->
  	<!-- Select our SQL dialect -->
  	<!-- ######################################################################################################################### -->
  	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  	<property name="hibernate.jdbc.batch_size">0</property>
  	
  	<!-- ######################################################################################################################### -->
  	<!-- Echo all executed SQL to stdout -->
  	<!-- ######################################################################################################################### -->
  	<property name="hibernate.show_sql">true</property>
  	
  	<!-- ######################################################################################################################### -->
  	<!-- Set the current session context -->
  	<!-- ######################################################################################################################### -->
  	<property name="current_session_context_class" >thread</property>
  
	<!-- ######################################################################################################################### -->
  	<!-- Classes -->
  	<!-- ######################################################################################################################### -->  
    <!-- 
    <mapping class="com.kediumm.kedsensorrest.model.Temperature"/>
    <mapping class="com.kediumm.kedsensorrest.model.AirQuality"/>
    <mapping class="com.kediumm.kedsensorrest.model.TrafficFlow"/>
    <mapping class="com.kediumm.kedsensorrest.model.HeartActivity"/>
   	 -->
        
 </session-factory>
</hibernate-configuration>
